<div id="modal-content-wrapper">
    <!-- HEADER -->
    <header id="modal-header">
        <h1 id="modal-title">Selección de Unidades</h1>
    </header>


    <!-- CUERPO WINDOW -->
    <section id="modal-body">
        <!-- RESULTADO ELECCIÓN-->
        <div class="unit-result">  
            <!-- <mat-icon svgIcon = "{{unitResultIconName}}" class="icon-selector"></mat-icon> -->
            <div id="svg">
                <svg #svg
                    xmlns="http://www.w3.org/2000/svg"
                    width='100%' height='100%' version='1.1'>
                </svg>
            </div>
        </div>
        <!-- OPCIONES -->    
        <!-- -- SELECTOR DE UNIDADES GUARDADAS -->
        <div  class="unit-selector">
            <mat-tab-group class="tab-group">
                <mat-tab class="tab-label" label="Nuevo">
                    <!-- <div class="new-unit"> -->
                        <!-- SELECTOR -->
                        <mat-form-field class="select-combo">
                            <mat-label>Opciones</mat-label>
                            <mat-select  name="optionSelector" [(ngModel)] = "setFeaturesToSelect" >
                                <mat-option *ngFor="let option of listOfOptions | keyvalue:unsorted" [value]= "option.key"> 
                                    {{option.value}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div *ngIf = "setFeaturesToSelect != 'extraData'; else textOptions" class="features-container">
                            <div  *ngFor = "let feature of svgListOfIcons.features[setFeaturesToSelect] | keyvalue:unsorted">
                                <div  (click) = "addFeature(feature)" [class] = "feature.value.classCSS">
                                    <mat-icon svgIcon = "{{feature.key}}" class="icon-selector" ></mat-icon>
                                    <div class="text-selector">{{feature.value.selectorText}}</div>
                                </div>
                            </div>
                        </div>
                        <!-- AQUÍ LOS DATOS EXTRA -->
                        <ng-template #textOptions>
                            <div class="features-container">
                                <form>
                                    <mat-checkbox class="example-margin"(change)="addFO($event.checked)">Fuerza Operativa</mat-checkbox>
                                    <br/>
                                    <mat-checkbox class="example-margin"(change)="addCG($event.checked)">CG/PC</mat-checkbox>
                                    <br/>
                                    <mat-radio-group name="reinforced" aria-label="¿Reforzada?" [(ngModel)]="reinforcedOptionSelected">
                                        <mat-radio-button #button  *ngFor="let option of reinforcedOptions" [value]="option" (click)="checkState($event, button)">
                                            {{option}}
                                          </mat-radio-button>
                                      </mat-radio-group>
                                    
                                    <!-- <div  *ngFor = "let feature of svgListOfIcons.features[setFeaturesToSelect] | keyvalue:unsorted">
                                        <mat-form-field  >
                                            <mat-label>{{feature.value.selectorText}}</mat-label>
                                            <input matInput #plus placeholder={{feature.value.value}} value="" (change) = "updateFeatureWithText($event,feature)">
                                        </mat-form-field>
                                    </div> -->                                    
                                    <div  *ngFor = "let feature of svgListOfIcons.features.extraData.fields.textFields | keyvalue:unsorted" >
                                        <mat-form-field  >
                                            <mat-label>{{feature.value["selectorText"]}}</mat-label>
                                            <input matInput placeholder="{{feature.value['placeHolder']}}" value="" (change) = "updateFeatureWithText($event,feature)">
                                        </mat-form-field>
                                    </div>
                                </form>
                            </div>
                        </ng-template>
                        <!-- BOTONES -->
                        <footer id="modal-footer">         
                            <div id="favorite">
                                <mat-checkbox class="favorite"
                                [(ngModel)]="favorite">
                                    Agregar a Favorito
                                </mat-checkbox>
                            </div>               
                            <button mat-raised-button class= 'button-modal' id="modal-action-button" (click)=saveUnit() >Crear</button>
                        </footer> 
                    <!-- </div> -->
                </mat-tab>
                <mat-tab label="Favoritos">
                    <app-favorite-selector [createSVG] = "createSVGCall" [type] = "'fav'"></app-favorite-selector>
                </mat-tab>
                <mat-tab label="Recientes"> 
                    <app-favorite-selector [createSVG] = "createSVGCall"  [type] = "'rec'"></app-favorite-selector>
                </mat-tab>
            </mat-tab-group>
        </div> 
    </section>

    <footer id="modal-footer">               
        <button mat-dialog-close mat-raised-button class= 'button-modal' id="modal-action-button" (click)=insertUnit() >Insertar</button>
    </footer> 
</div>
