<div class="register">
    <form [formGroup]="registerForm" class="custom-form" method="post">
      <h1>Registro</h1>
      <mat-grid-list cols="2"  rowHeight="3rem">    
        <mat-grid-tile> 
          <mat-form-field>
            <input matInput
                type="text"
                formControlName="firstName"
                placeholder="Nombre"
                required="required"
            />
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile> 
          <mat-form-field> 
          <input matInput
              type= "text"
              formControlName="lastName"
              placeholder="Apellidos"
              required="required"
          />     
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile> 
        <mat-form-field> 
          <input matInput
              type="text"
              formControlName="userName"
              placeholder="Usuario"
              required="required"
          />
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile> 
        <mat-form-field> 
          <input matInput
              type="email"
              formControlName="email"
              placeholder="Email"
              required="required"
          />
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile> 
        <mat-form-field>  
        <div *ngIf="email.errors?.email" class="error">
          Email no válido.
        </div> 
          <input matInput
            type="password"
            formControlName="password"
            placeholder="Password"
            required="required"
          />
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile> 
        <mat-form-field> 
          <input matInput
            type="password"
            formControlName="repassword"
            placeholder="Repeat the password"
            required="required"
          />
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="2">
        <button class= "button" mat-button color="primary" type="submit" (click)="registerUser()">Register</button>
      </mat-grid-tile>
      </mat-grid-list>
    </form>
  </div>