<div class="example-button-row">
  <mat-nav-list>
    <div class="example-flex-container">
      <button mat-icon-button matTooltip="Creación de Unidades"  matTooltipPosition ="right" aria-label="Unidades" [routerLink]="'/Units'">
        <mat-icon svgIcon = "unit-button"></mat-icon>
      </button>
    </div>
    <div class="example-flex-container">
      <button mat-icon-button matTooltip="Creación de Puntos" matTooltipPosition ="right"  color="primary" aria-label="Puntos" [routerLink]="'/Points'">
        <mat-icon svgIcon = "control-point-button"></mat-icon>
      </button>
    </div>
    <div class="example-flex-container">
      <button mat-icon-button matTooltip="Creación de Líneas" matTooltipPosition ="right"  color="primary" aria-label="Líneas" [routerLink]="'/Lines'">
        <mat-icon svgIcon = "lines-button"></mat-icon>
      </button>
    </div>

    <div class="example-flex-container">
      <button mat-icon-button matTooltip="Creación de Áreas" matTooltipPosition ="right"  color="primary" aria-label="Areas" [routerLink]="'/Areas'">
        <mat-icon svgIcon = "areas-button"></mat-icon>
      </button>
    </div>

    <div class="example-flex-container">
      <button mat-icon-button matTooltip="Creación de Tareas" matTooltipPosition ="right"  color="primary" aria-label="Tareas" [routerLink]="'/Tasks'">
        <mat-icon svgIcon = "tasks-button"></mat-icon>
      </button>
    </div>
  </mat-nav-list>
</div>