
.example-button-row {
    display: table-cell;
    /* width: 490px; */
  }
  
  .button-entity{
    background-color: antiquewhite;
  
  }

  .card-content{
    padding: 2px;
  }

  .container{
    width: 300px  ;
  }

  /* mat-form-field{
    background-color: khaki;
    border: black;
    border-radius: 2px;
    border: outset;
    color: black;
  }

  mat-option{
    color: black;
  } */