<section class="main-menu">
  <div class="buttons-row">
    <div class="button-container">
      <button
        aria-label="Toggle sidenav"
        mat-mini-fab
        color="primary"
        (click)="changeViewOperations() "
        >
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div class="button-container">
      <button
        aria-label="Toggle sidenav"
        mat-mini-fab
        color="primary"
        (click)="changeViewOPORD() "
        >
        <mat-icon>description</mat-icon>
      </button>
    </div>
    <div  class="button-container">
      <button
        aria-label="Toggle sidenav"
        mat-mini-fab
        color="primary"
        >
        <mat-icon>construction</mat-icon>
      </button>
    </div>
    <div  class="button-container">
      <button
        aria-label="Toggle sidenav"
        mat-mini-fab
        color="primary"
        >
        <mat-icon>print</mat-icon>
      </button>
    </div>
    <div class="button-container">
      <button
        aria-label="Toggle sidenav"
        mat-mini-fab
        color="primary"
        (click)="openTutorial() "
        >
        <mat-icon>help_outline</mat-icon>
      </button>
    </div>
</div>
</section>

