<section class="main-menu">
  <div class="buttons-row">
    <div class="button-container">
      <button
        aria-label="Toggle sidenav"
        mat-fab
        color="primary"
        (click)="changeView() "
        >
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div  class="button-container">
      <button
        aria-label="Toggle sidenav"
        mat-fab
        color="primary"
        >
        <mat-icon>construction</mat-icon>
      </button>
    </div>
    <div  class="button-container">
      <button
        aria-label="Toggle sidenav"
        mat-fab
        color="primary"
        >
        <mat-icon>print</mat-icon>
      </button>
    </div>
</div>
</section>

