<div id="map" class="map"></div>
<p> {{currentLong}} {{currentLat}}</p>  
<!-- <p> {{entityFriendly.getEnd | json}} </p> -->

<!-- <div class="ol-popup" id="popup">
    <a href="#" class="ol-popup-closer" id="popup-closer">    </a> -->
<div id="popup-content"></div>
<!-- </div> -->

<app-floating-buttons></app-floating-buttons>
<app-floating-menu (emitter) = "catchEvent($event)"></app-floating-menu>

<div *ngIf = "activatedOperations">
    <app-timeline></app-timeline>
</div>

<h1 class="title">OpordEasy <span class="copyright">©JER</span></h1>
