.map{
    height: 100%;
    width: 100%;
}

.title{
    position: absolute;
    top: 10px;
    left: 125px;
    font-style: italic;
    font-weight: bold;
    color: green;
}
.copyright{
    font-size: small;
}

.ol-popup{
    position: absolute;
    background-color: transparent;
    -webkit-filter: drop-shadow(0 0px 0px rgba(0,0,0,0.2));
    filter: drop-shadow(0 0px 0px rgba(0,0,0,0.2));
    padding: 0px;
    border-radius: 0px;
    border: 2px solid transparent;
    bottom: 0px;
    top: -20px;
    left: -25px;
    max-height: 0px;
    color: black;
}

.ol-popup:after,.ol-popup:before{
    /* top: 100%; */
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ol-popup:after {
    border-top-color: transparent;
    border-width: 0px;
    left: 0px;
    margin-left: 0px;
}
.ol-popup::before {
    border-top-color: transparent;
    border-width: 0px;
    left: 0px;
    margin-left: 0px;
}
#popup-content{
    position: absolute;
    top: -30px;
    left: -40px;
}

.ol-popup-closer{
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}

.ol-popup-closer::after{
    color: transparent;
    content: "x";
}
