.fase_view{
    overflow: hidden;   
}

.timeline-list-view{
    width: 100%;
    display: flex;
    border-radius: 5px;
    padding-left: 10px;
}

.timelines-list{
    max-height: 13.3em;
    overflow: auto;
}


.app-timeline{
    display: flex;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    overflow: auto;
    width: 100%;
}

.radio-group{
    overflow: hidden;
}
.phase-selector{
    display: flex;
}

.phase_manager{
    display: flex;
}

mat-radio-button{
    display: flex;
}

.icon-button{
    height: auto;
}
.delete-button{
    display: flex;
}


.new-timeline-button{
    display: flex;
    justify-content: space-around;
    margin: 5px;
}

.selected{
    background-color: rgb(174, 238, 174,40%);
}
.unselected{
    background-color: white;
}