
@import '~@angular/material/theming';

@include mat-core();

$my-primary: mat-palette($mat-green, 900);
$my-accent: mat-palette($mat-grey,900);

// The "warn" palette is optional and defaults to red if not specified.
$my-warn: mat-palette($mat-red);

$my-theme: mat-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
   warn: $my-warn,
 )
));

@include angular-material-theme($my-theme);