<div id="modal-content-wrapper">
    <!-- HEADER -->
    <header id="modal-header">
        <h1 id="modal-title">Selección de Puntos</h1>
    </header>
    <!-- SELECTOR -->
   <mat-form-field appearance="fill">
       <mat-label>Opciones</mat-label>
       <mat-select  name="optionSelector" [(ngModel)] = "setFeaturesToSelect" >
           <mat-option *ngFor="let option of listOfOptions | keyvalue:unsorted" [value]= "option.key"> 
           {{option.value}}
           </mat-option>
       </mat-select>
   </mat-form-field>
   
        <!-- CUERPO WINDOW -->
    <section id="modal-body">
        <!-- OPCIONES de Puntos -->
        <mat-card>
            <div   *ngFor = "let feature of svgListOfIcons.features.points[setFeaturesToSelect] | keyvalue:unsorted">
                <div  (click) = "loadExtraData(feature)" [class] = "feature.value.classCSS">
                    <mat-icon svgIcon = "{{feature.key}}" class="icon-selector" ></mat-icon>
                    <div class="text-selector">{{feature.value.selectorText}}</div>
                </div>
            </div>
        </mat-card>  
        <!-- OPCIONES PARA CADA PUNTO -->
        <mat-card>

        </mat-card>  
    </section>
    <!-- BOTONES -->
    <footer id="modal-footer">
        <button mat-dialog-close mat-raised-button class= 'button-modal' id="modal-cancel-button" >Cancelar</button>
        <button mat-dialog-close mat-raised-button class= 'button-modal' id="modal-action-button" (click)=savePoint($event) >Crear</button>
    </footer>
</div>

