<div id="modal-content-wrapper">
    <!-- HEADER -->
    <header id="modal-header">
        <h1 id="modal-title">Selección de Puntos</h1>
    </header>
    <!-- SELECTOR -->
   <mat-form-field appearance="fill">
       <mat-label>Opciones</mat-label>
       <mat-select  name="optionSelector" [(ngModel)] = "setFeaturesToSelect" >
           <mat-option *ngFor="let option of listOfOptions | keyvalue:unsorted" [value]= "option.key"> 
           {{option.value}}
           </mat-option>
       </mat-select>
   </mat-form-field>
   
        <!-- CUERPO WINDOW -->
    <section id="modal-body">
        <!-- OPCIONES de Puntos -->
        <mat-card>
            <div   *ngFor = "let feature of svgListOfIcons.features.points[setFeaturesToSelect].selector | keyvalue:unsorted">
                <div  (click) = "loadExtraData(feature)" [class] = "feature.value.classCSS">
                    <mat-icon svgIcon = {{feature.key}} class="icon-selector" ></mat-icon>
                    <div class="text-selector">{{feature.value.selectorText}}</div>
                </div>
            </div>
        </mat-card>  
        <!-- OPCIONES PARA CADA PUNTO -->
        <mat-card>
            <div   *ngFor = "let list of listsToShow | keyvalue">
                <mat-form-field>
                    <mat-select placeholder={{list.value.placeHolder}} (selectionChange) = "updateFeatureWithList($event,list)">
                      <mat-option *ngFor="let option of svgListOfIcons.getList(list.value.list)" [value]="option.value">
                        {{option.text}}
                      </mat-option>
                    </mat-select>                
                </mat-form-field>
            </div>
            <div   *ngFor = "let number of numsToShow | keyvalue">
                <mat-form-field>
                    <mat-label>{{number.value.selectorText}}</mat-label>
                    <input type= "number" matInput #plus placeholder={{number.value.placeHolder}} value={{number.value.value}} (change) = "updateFeatureWithTextNumber($event,number)"/>
                </mat-form-field>
            </div>
            <div   *ngFor = "let field of fieldsToShow | keyvalue">
                <mat-form-field>
                    <mat-label>{{field.value.selectorText}}</mat-label>
                    <input matInput #plus placeholder={{field.value.placeHolder}} value={{field.value.value}} (change) = "updateFeatureWithTextField($event,field)"/>
                </mat-form-field>
            </div>
        </mat-card>  
    </section>
    <!-- BOTONES -->
    <footer id="modal-footer">
        <button mat-dialog-close mat-raised-button class= 'button-modal' id="modal-cancel-button" >Cancelar</button>
        <button mat-dialog-close mat-raised-button class= 'button-modal' id="modal-action-button" (click)=insertPoint($event) >Crear</button>
    </footer>
</div>

